extends ../components/base/layout

block variables
  - const title = "Фитнес"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +hero()
    .page-section
      +gym()
    .page-section
      +subscriptions()
    .page-section
      +banner()
    .page-section
      +coaches()
    .page-section
      +advantages()
    .page-section
      +stocks()
    .page-section
      +faq()
    .page-section
      +reviews()
    .page-section
      +contacts()

block modals
