-
  const faq = {
    buttons: [
      {
        text: "Центр",
      },
      {
        text: "Абонемент",
      },
      {
        text: "Услуги",
      },
      {
        text: "Правила",
      },
    ],

    tabs: [
      // 1
      {
        accordion: [
          {
            isActive: true,
            title: "Как стать членом фитнес-центра?",
            text: "При первом посещении и&nbsp;покупке абонемента, необходимо заполнить анкету и&nbsp;подписать договор. При покупке абонемента онлайн, анкета также заполняется онлайн и&nbsp;договор придет вам на&nbsp;почту.",
          },
          {
            title: "Где можно посмотреть расписание?",
            text: "При первом посещении и&nbsp;покупке абонемента, необходимо заполнить анкету и&nbsp;подписать договор. При покупке абонемента онлайн, анкета также заполняется онлайн и&nbsp;договор придет вам на&nbsp;почту.",
          },
          {
            title: "Есть кулеры в&nbsp;центре? Предоставляются полотенца?",
            text: "При первом посещении и&nbsp;покупке абонемента, необходимо заполнить анкету и&nbsp;подписать договор. При покупке абонемента онлайн, анкета также заполняется онлайн и&nbsp;договор придет вам на&nbsp;почту.",
          },
          {
            title: "Сколько тренеров работает в&nbsp;клубе и&nbsp;какова их&nbsp;квалификация?",
            text: "При первом посещении и&nbsp;покупке абонемента, необходимо заполнить анкету и&nbsp;подписать договор. При покупке абонемента онлайн, анкета также заполняется онлайн и&nbsp;договор придет вам на&nbsp;почту.",
          },
        ]
      },
      // 2
      {
        accordion: [
          {
            title: "Занятия с&nbsp;тренером входят в&nbsp;абонемент?",
            text: "При посещении тренажерного зала вам необходимо оплатить занятия с&nbsp;тренером отдельно. В&nbsp;зале всегда присутствует дежурный тренер, которому можно задать вопрос, получить небольшую консультацию по&nbsp;тренажеру или технике выполнения упражнения.",
          },
          {
            title: "Можно&nbsp;ли заморозить абонемент?",
            text: "При посещении тренажерного зала вам необходимо оплатить занятия с&nbsp;тренером отдельно. В&nbsp;зале всегда присутствует дежурный тренер, которому можно задать вопрос, получить небольшую консультацию по&nbsp;тренажеру или технике выполнения упражнения.",
          },
          {
            title: "Есть&nbsp;ли лимит по&nbsp;посещениям тренажерного зала и&nbsp;групповых занятий?",
            text: "При посещении тренажерного зала вам необходимо оплатить занятия с&nbsp;тренером отдельно. В&nbsp;зале всегда присутствует дежурный тренер, которому можно задать вопрос, получить небольшую консультацию по&nbsp;тренажеру или технике выполнения упражнения.",
          },
          {
            title: "Что такое семейный доступ и&nbsp;доступ для друзей?",
            text: "При посещении тренажерного зала вам необходимо оплатить занятия с&nbsp;тренером отдельно. В&nbsp;зале всегда присутствует дежурный тренер, которому можно задать вопрос, получить небольшую консультацию по&nbsp;тренажеру или технике выполнения упражнения.",
          },
        ]
      },
      // 3
      {
        accordion: [
          {
            title: "Предлагает&nbsp;ли клуб услуги по&nbsp;консультированию по&nbsp;вопросам питания?",
            text: "Да. Вы&nbsp;можете обратиться как к&nbsp;своему тренеру, так и&nbsp;к&nbsp;нашему нутрициологу. Специалист уточнит ваши данные, цели и&nbsp;предложит программу питания.",
          },
          {
            title: "Проводятся&nbsp;ли в&nbsp;клубе какие-либо мероприятия или соревнования?",
            text: "Да. Вы&nbsp;можете обратиться как к&nbsp;своему тренеру, так и&nbsp;к&nbsp;нашему нутрициологу. Специалист уточнит ваши данные, цели и&nbsp;предложит программу питания.",
          },
          {
            title: "Можно&nbsp;ли приобрести в&nbsp;центре спортивное питание?",
            text: "Да. Вы&nbsp;можете обратиться как к&nbsp;своему тренеру, так и&nbsp;к&nbsp;нашему нутрициологу. Специалист уточнит ваши данные, цели и&nbsp;предложит программу питания.",
          },
          {
            title: "Есть&nbsp;ли в&nbsp;центре детская комната?",
            text: "Да. Вы&nbsp;можете обратиться как к&nbsp;своему тренеру, так и&nbsp;к&nbsp;нашему нутрициологу. Специалист уточнит ваши данные, цели и&nbsp;предложит программу питания.",
          },
        ]
      },
      // 4
      {
        accordion: [
          {
            title: "Есть в фитнес-центре дресс-код?",
            text: "Для тренировок необходимо иметь предназначенную для этого закрытую спортивную обувь и одежду. Верхняя и нижняя части тела должны быть закрыты (используйте футболки, майки, спортивные брюки, шорты, кроссовки). В целях безопасности, запрещается тренироваться босиком, в пляжных или домашних тапочках и т. п., исключения составляют специальные классы (например, йога, пилатес).",
          },
          {
            title: "Можно ли приводить с собой детей на тренировки?",
            text: "Для тренировок необходимо иметь предназначенную для этого закрытую спортивную обувь и одежду. Верхняя и нижняя части тела должны быть закрыты (используйте футболки, майки, спортивные брюки, шорты, кроссовки). В целях безопасности, запрещается тренироваться босиком, в пляжных или домашних тапочках и т. п., исключения составляют специальные классы (например, йога, пилатес).",
          },
          {
            title: "Какие дополнительные правила посещения центра?",
            text: "Для тренировок необходимо иметь предназначенную для этого закрытую спортивную обувь и одежду. Верхняя и нижняя части тела должны быть закрыты (используйте футболки, майки, спортивные брюки, шорты, кроссовки). В целях безопасности, запрещается тренироваться босиком, в пляжных или домашних тапочках и т. п., исключения составляют специальные классы (например, йога, пилатес).",
          },
          {
            title: "Нужна ли медицинская справка для посещения залов и бассейна?",
            text: "Для тренировок необходимо иметь предназначенную для этого закрытую спортивную обувь и одежду. Верхняя и нижняя части тела должны быть закрыты (используйте футболки, майки, спортивные брюки, шорты, кроссовки). В целях безопасности, запрещается тренироваться босиком, в пляжных или домашних тапочках и т. п., исключения составляют специальные классы (например, йога, пилатес).",
          },
        ]
      },
    ]
  }

mixin faq()
  section.faq
    .container
      +title({tag: "h2", text: "Вопросы и ответы", mods: ["h3"]}).faq__title
      .faq__wrapper(data-tabs="parent")
        .faq__tabs(data-tabs="controls")
          each item in faq.buttons
            +btn({text: item.text, mods: ["tab"]}).faq__tabs-btn(data-tabs="control")
        .faq__tabs-content(data-tabs="content")
          each item in faq.tabs
            .faq__block(data-tabs="element")
              div(data-accordion="parent")
                each el in item.accordion
                  .faq__accordion(data-accordion="element", class=el.isActive ? "is-active": null)
                    button.faq__accordion-btn.title.title--h5(type="button", data-accordion="button")
                      span.faq__accordion-btn-text!= el.title
                      span.faq__accordion-btn-icon
                    .faq__accordion-content(data-accordion="content")
                      .faq__accordion-text.text.text--large
                        p!= el.text
