-
  const subscriptions = {
    buttons: [
      {
        text: "1 месяц",
      },
      {
        text: "6 месяцев",
      },
      {
        text: "12 месяцев",
      },
    ],

    tabs: [
      // 1
      {
        cards: [
          {
            title: "С тренером",
            info: "12 занятий",
            price: "5000",
          },
          {
            title: "Дневной",
            info: "с 8:00 до 17:00 ",
            price: "1700",
          },
          {
            title: "Полный день",
            info: "с 8:00 до 22:00 ",
            price: "2700",
          },
        ]
      },
      // 2
      {
        cards: [
          {
            title: "С тренером",
            info: "12 занятий",
            price: "30000",
          },
          {
            title: "Дневной",
            info: "с 8:00 до 17:00 ",
            price: "10200",
          },
          {
            title: "Полный день",
            info: "с 8:00 до 22:00 ",
            price: "16200",
          },
        ]
      },
      // 3
      {
        cards: [
          {
            title: "С тренером",
            info: "12 занятий",
            price: "60000",
          },
          {
            title: "Дневной",
            info: "с 8:00 до 17:00 ",
            price: "20400",
          },
          {
            title: "Полный день",
            info: "с 8:00 до 22:00 ",
            price: "32400",
          },
        ]
      },
    ]
  }

mixin subscriptions()
  section.subscriptions(id="subscriptions")
    .container
      +title({tag: "h2", text: "Абонементы", mods: ["h3"]}).subscriptions__title
      div(data-tabs="parent")
        +tabs(subscriptions.buttons)
        .subscriptions__content(data-tabs="content")
          each item in subscriptions.tabs
            .subscriptions__block(data-tabs="element")
              each el in item.cards
                +card-subscription(el)
    .subscriptions__decor
      +picture("content/subscriptions", "pancakes", "png", "470", "494", "Блины для штанги")
