mixin card-advantages(options = {})
  - const title = options.title || ""
  - const text = options.text || ""
  - const number = options.number || ""
  - const units = options.units || ""

  .card-advantages
    .card-advantages__number-wrapper
      span.card-advantages__number!= number
      span.card-advantages__units!= units
    .card-advantages__text-wrapper
      +title({tag: "p", text: title, mods: ["h6"]}).card-advantages__title
      +text(text, "medium").card-advantages__text
