//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/subscriptions
include ./blocks/faq
include ./blocks/coaches
include ./blocks/hero
include ./blocks/advantages
include ./blocks/stocks
include ./blocks/gym
include ./blocks/reviews
include ./blocks/banner
include ./blocks/contacts

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/form
include ./mixins/logo
include ./mixins/link
include ./mixins/btn-icon
include ./mixins/btn-play
include ./mixins/socials
include ./mixins/title
include ./mixins/text
include ./mixins/card-review
include ./mixins/video
include ./mixins/card-subscription
include ./mixins/tabs
include ./mixins/card-coaches
include ./mixins/card-advantages
include ./mixins/card-advantages-main
include ./mixins/card-stock
include ./mixins/banner-stock
